{"openapi":"3.1.0","info":{"title":"Memento Backend","version":"0.1.0"},"servers":[{"url":"https://ece-493-memento-backend.loca.lt/","description":"Local Tunnel"}],"paths":{"/api/health":{"get":{"summary":"Health Check","description":"Checks the health of a project.\n\nIt returns 200 if the project is healthy.","operationId":"health_check_api_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/user/{id}":{"get":{"tags":["user"],"summary":"User Info","operationId":"user_info_api_user__id__get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfo"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"UserInfo":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id"},"birthday":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Birthday"}},"type":"object","required":["id"],"title":"UserInfo","description":"UserInfo Schema for Pydantic.\n\nInherits from UserInfoBaseSchema. Add any customization here."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}